<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.familysong">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img"
        android:label="儿歌游戏"
        android:roundIcon="@drawable/img"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamilySong">
        <activity
            android:name=".L.L5.L5_3Activity"
            android:exported="false" />
        <activity
            android:name=".L.L5.L5_2Activity"
            android:exported="false" />
        <activity
            android:name=".L.L5.L5_1Activity"
            android:exported="false" />
        <activity
            android:name=".L.L3.L3_mbyActivity"
            android:exported="false" />
        <activity
            android:name=".L.L3.L3_qjgActivity"
            android:exported="false" />
        <activity
            android:name=".L.L3.L3_skl7Activity"
            android:exported="false" />
        <activity
            android:name=".L.L3.L3_skl6Activity"
            android:exported="false" />
        <activity
            android:name=".L.L3.L3_skl5Activity"
            android:exported="false" />
        <activity
            android:name=".L.L3.L3_skl4Activity"
            android:exported="false" />
        <activity
            android:name=".L.L3.L3_skl3Activity"
            android:exported="false" />
        <activity
            android:name=".L.L3.L3_skl2Activity"
            android:exported="false" />
        <activity
            android:name=".L.L3.L3_skl1Activity"
            android:exported="false" />
        <activity
            android:name=".L.L3.L3Activity"
            android:exported="false" />
        <activity
            android:name=".L.L2.L2_3Activity"
            android:exported="false" />
        <activity
            android:name=".L.L2.L2_2Activity"
            android:exported="false" />
        <activity
            android:name=".L.L2.L2_1Activity"
            android:exported="false" />
        <activity
            android:name=".L.L2.L2Activity"
            android:exported="false" />
        <activity
            android:name=".L.L1.L1_5Activity"
            android:exported="false" />
        <activity
            android:name=".L.L1.L1_4Activity"
            android:exported="false" />
        <activity
            android:name=".L.L1.L1_3Activity"
            android:exported="false" />
        <activity
            android:name=".L.L1.L1_2Activity"
            android:exported="false" />
        <activity
            android:name=".L.L1.L1_1Activity"
            android:exported="false" />
        <activity
            android:name=".L.L1.L1Activity"
            android:exported="false" />
        <activity
            android:name=".L.L0.L0_2Activity"
            android:exported="false" />
        <activity
            android:name=".L.L0.L0_1Activity"
            android:exported="false" />
        <activity
            android:name=".L.L0.L0Activity"
            android:exported="false" />
        <activity
            android:name=".L.LActivity"
            android:exported="false" />
        <activity
            android:name=".N.N5.N5_3Activity"
            android:exported="false" />
        <activity
            android:name=".N.N5.N5_2Activity"
            android:exported="false" />
        <activity
            android:name=".N.N5.N5_1Activity"
            android:exported="false" />
        <activity
            android:name=".N.N3.N3_mbyActivity"
            android:exported="false" />
        <activity
            android:name=".N.N3.N3_qjgActivity"
            android:exported="false" />
        <activity
            android:name=".N.N3.N3_skl4Activity"
            android:exported="false" />
        <activity
            android:name=".N.N3.N3_skl3Activity"
            android:exported="false" />
        <activity
            android:name=".N.N3.N3_skl2Activity"
            android:exported="false" />
        <activity
            android:name=".N.N3.N3_skl1Activity"
            android:exported="false" />
        <activity
            android:name=".N.N3.N3Activity"
            android:exported="false" />
        <activity
            android:name=".N.N2.N2_3Activity"
            android:exported="false" />
        <activity
            android:name=".N.N2.N2_2Activity"
            android:exported="false" />
        <activity
            android:name=".N.N2.N2_1Activity"
            android:exported="false" />
        <activity
            android:name=".N.N2.N2Activity"
            android:exported="false" />
        <activity
            android:name=".N.N1.N1_5Activity"
            android:exported="false" />
        <activity
            android:name=".N.N1.N1_4Activity"
            android:exported="false" />
        <activity
            android:name=".N.N1.N1_3Activity"
            android:exported="false" />
        <activity
            android:name=".N.N1.N1_2Activity"
            android:exported="false" />
        <activity
            android:name=".N.N1.N1_1Activity"
            android:exported="false" />
        <activity
            android:name=".N.N1.N1Activity"
            android:exported="false" />
        <activity
            android:name=".N.N0.N0_2Activity"
            android:exported="false" />
        <activity
            android:name=".N.N0.N0_1Activity"
            android:exported="false" />
        <activity
            android:name=".N.N0.N0Activity"
            android:exported="false" />
        <activity
            android:name=".N.NActivity"
            android:exported="false" />
        <activity
            android:name=".H.H5.H5_6Activity"
            android:exported="false" />
        <activity
            android:name=".H.H5.H5_5Activity"
            android:exported="false" />
        <activity
            android:name=".H.H5.H5_4Activity"
            android:exported="false" />
        <activity
            android:name=".H.H5.H5_3Activity"
            android:exported="false" />
        <activity
            android:name=".H.H5.H5_2Activity"
            android:exported="false" />
        <activity
            android:name=".H.H5.H5_1Activity"
            android:exported="false" />
        <activity
            android:name=".H.H3.H3_qjgActivity"
            android:exported="false" />
        <activity
            android:name=".H.H3.H3_skl7Activity"
            android:exported="false" />
        <activity
            android:name=".H.H3.H3_skl6Activity"
            android:exported="false" />
        <activity
            android:name=".H.H3.H3_skl5Activity"
            android:exported="false" />
        <activity
            android:name=".H.H3.H3_skl4Activity"
            android:exported="false" />
        <activity
            android:name=".H.H3.H3_skl3Activity"
            android:exported="false" />
        <activity
            android:name=".H.H3.H3_skl2Activity"
            android:exported="false" />
        <activity
            android:name=".H.H3.H3_skl1Activity"
            android:exported="false" />
        <activity
            android:name=".H.H3.H3Activity"
            android:exported="false" />
        <activity
            android:name=".H.H2.H2_2Activity"
            android:exported="false" />
        <activity
            android:name=".H.H2.H2_1Activity"
            android:exported="false" />
        <activity
            android:name=".H.H2.H2Activity"
            android:exported="false" />
        <activity
            android:name=".H.H1.H1_4Activity"
            android:exported="false" />
        <activity
            android:name=".H.H1.H1_5Activity"
            android:exported="false" />
        <activity
            android:name=".H.H1.H1_3Activity"
            android:exported="false" />
        <activity
            android:name=".H.H1.H1_2Activity"
            android:exported="false" />
        <activity
            android:name=".H.H1.H1_1Activity"
            android:exported="false" />
        <activity
            android:name=".H.H1.H1Activity"
            android:exported="false" />
        <activity
            android:name=".H.H0.H0_2Activity"
            android:exported="false" />
        <activity
            android:name=".H.H0.H0_1Activity"
            android:exported="false" />
        <activity
            android:name=".H.H0.H0Activity"
            android:exported="false" />
        <activity
            android:name=".H.HActivity"
            android:exported="false" />
        <activity
            android:name=".F.F5.F5_4Activity"
            android:exported="false" />
        <activity
            android:name=".F.F5.F5_3Activity"
            android:exported="false" />
        <activity
            android:name=".F.F5.F5_2Activity"
            android:exported="false" />
        <activity
            android:name=".F.F5.F5_1Activity"
            android:exported="false" />
        <activity
            android:name=".F.F3.F3_qjgActivity"
            android:exported="false" />
        <activity
            android:name=".F.F3.F3_skl3Activity"
            android:exported="false" />
        <activity
            android:name=".F.F3.F3_skl2Activity"
            android:exported="false" />
        <activity
            android:name=".F.F3.F3_skl1Activity"
            android:exported="false" />
        <activity
            android:name=".F.F3.F3Activity"
            android:exported="false" />
        <activity
            android:name=".F.F2.F2_2Activity"
            android:exported="false" />
        <activity
            android:name=".F.F2.F2_1Activity"
            android:exported="false" />
        <activity
            android:name=".F.F2.F2Activity"
            android:exported="false" />
        <activity
            android:name=".F.F1.F1_5Activity"
            android:exported="false" />
        <activity
            android:name=".F.F1.F1_4Activity"
            android:exported="false" />
        <activity
            android:name=".F.F1.F1_3Activity"
            android:exported="false" />
        <activity
            android:name=".F.F1.F1_2Activity"
            android:exported="false" />
        <activity
            android:name=".F.F1.F1_1youdaoActivity"
            android:exported="false" />
        <activity
            android:name=".F.F1.F1Activity"
            android:exported="false" />
        <activity
            android:name=".F.F0.F0_2Activity"
            android:exported="false" />
        <activity
            android:name=".F.F0.F0_1Activity"
            android:exported="false" />
        <activity
            android:name=".F.F0.F0Activity"
            android:exported="false" />
        <activity
            android:name=".F.FActivity"
            android:exported="false" />
        <activity
            android:name=".P.PActivity"
            android:exported="false" />
        <activity
            android:name=".B.B1.B1_5tgsActivity"
            android:exported="false" />
        <activity
            android:name=".B.B0.B0_1Activity"
            android:exported="false" />
        <activity
            android:name=".B.B0.B0_2Activity"
            android:exported="false" />
        <activity
            android:name=".qianxuzhiActivity2"
            android:exported="false" />
        <activity
            android:name=".lianxiwomenActivity"
            android:exported="false" />
        <activity
            android:name=".B.B5.B5Activity"
            android:exported="false" />
        <activity
            android:name=".B.B4.B4_8Activity"
            android:exported="false" />
        <activity
            android:name=".B.B4.B4_7Activity"
            android:exported="false" />
        <activity
            android:name=".B.B4.B4_6Activity"
            android:exported="false" />
        <activity
            android:name=".B.B4.B4_5Activity"
            android:exported="false" />
        <activity
            android:name=".B.B4.B4_4Activity"
            android:exported="false" />
        <activity
            android:name=".B.B4.B4_3Activity"
            android:exported="false" />
        <activity
            android:name=".B.B4.B4_2Activity"
            android:exported="false" />
        <activity
            android:name=".B.B4.B4_1Activity"
            android:exported="false" />
        <activity
            android:name=".B.B3.B3_qjgActivity"
            android:exported="false" />
        <activity
            android:name=".B.B3.B3_skl5Activity"
            android:exported="false" />
        <activity
            android:name=".B.B3.B3_skl4Activity"
            android:exported="false" />
        <activity
            android:name=".B.B3.B3_skl3Activity"
            android:exported="false" />
        <activity
            android:name=".B.B3.B3_skl2Activity"
            android:exported="false" />
        <activity
            android:name=".B.B3.B3_skl1Activity"
            android:exported="false" />
        <activity
            android:name=".B.B3.B3Activity"
            android:exported="false" />
        <activity
            android:name=".B.B2.B2_2cyjlActivity"
            android:exported="false" />
        <activity
            android:name=".B.B2.B2_1mygActivity"
            android:exported="false" />
        <activity
            android:name=".B.B2.B2Activity"
            android:exported="false" />
        <activity
            android:name=".B.B1.B1_4nishActivity"
            android:exported="false" />
        <activity
            android:name=".B.B1.B1_3pinyinActivity"
            android:exported="false" />
        <activity
            android:name=".B.B1.B1_2bijiaoActivity"
            android:exported="false" />
        <activity
            android:name=".B.B1.B1_1youdaoActivity"
            android:exported="false" />
        <activity
            android:name=".B.B1.B1_startActivity"
            android:exported="false" />
        <activity
            android:name=".B.B0.B0Activity"
            android:exported="false" />
        <activity
            android:name=".B.BActivity"
            android:exported="false" />
        <activity
            android:name=".yinActivity"
            android:exported="false" />
        <activity
            android:name=".ShiyongActivity"
            android:exported="false" />
        <activity
            android:name=".ZhuceActivity"
            android:exported="false" />
        <activity
            android:name=".DengluActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>